/*Landing Page Start*/
    #Landing_Image, #Intro_CTA
    {
        flex: 1;
        margin: 0;
        padding: 0;
    }
    /*Left Side*/
    #Landing_Image
    {
        width: 50%;
        float: left;
        height: 100%;
        overflow: hidden;
        
    }
    #Landing_Image img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    /*Right Side*/
    .Container_Content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        top: 0%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        flex-wrap: wrap;
        align-content: center;
    }
    #Intro_CTA
    {
        
        width: 50%;
        bottom: 100%;
        float: right;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content:center;
        display: flex;
        vertical-align: baseline;
    }
    body, html
    {   
        margin: 0;
        padding: 0;
        background-color: rgb(247, 247, 229);
        overflow: auto;
        height: 100%;
    }
    html
    {
        font-size: 100%;
        -webkit-text-size-adjust: 100%;
    }
    #Name
    {
        padding-top: 0px;
        top: 15%;
        overflow: hidden;
        position: relative;
    }
    #Name h1
    {
        margin: auto;
        padding-top: 10%;
        font-size: 80px;
        font-family: 'Raleway';
        font-weight:bolder;
        position: relative;
        border: 2px solid black 0 ;
    }
    #Labels
    {
        width: 90%;
        height: 25%;
        overflow: visible;
        border: 2px solid black 0;
        position: relative;
        padding: 0px 10px 0px 10px;
    }
    #Labels li 
    {
        margin: 5px 0;
        font-size: 30px;
        font-family: 'Raleway';
        font-style: italic;
    }
    #Labels ul
    {
        list-style-position: inside;
        display: inline-block;
        text-align: center;
        padding: 0px;
    }
    .Copyright p
    {
        font-size: 16px;
        position: relative;
        padding-bottom: 10px;
        display: inline-block;
        border: 1px solid black 0;
        text-align: center;
    }

    /*Buttons*/
    .Button
    {
        width: 270px;
        font-family: 'kurale';
        font-size: 34px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 65px;
        text-decoration: none;
        color: black;
        background-color: rgba(180, 208, 199, 1);
        cursor: pointer;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: transform;
        transition-property: transform;
        display: inline-block;
        position: relative;
        gap: 100px;
    }
    .Button:hover
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        background-color: rgba(79, 195, 137, 1);
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }
    #Connect_Btn
    {   
        position: relative;
        top: 10%;
        display: block;
        padding: 5%;
    }
    #About_Btn
    {
        position: relative;
        top: -5%;
        padding: 5%;
        display: block;
    }
    /*Responsiveness*/
    @media screen and (max-width: 600px) {
        .Container_Content
        {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        }
        #Landing_Image, #Intro_CTA
        {
            width: 100%;
            display: flex;
        }
        #Name
        {
            padding: 0;
            top: 5%;
            overflow:visible;
            width: 100%;
        }
        #Name h1
        {
            font-size: 14vw;
            margin: 0;
            text-decoration: underline;
        }
        #Labels
        {
            padding: 0;
            width: 100%;
            position: relative;
            top: 5%;
        }
        #Labels li
        {
            font-size: 6vw;
        }
        .Button
        {
            font-size: 9vw;
        }
        #About_Btn
        {
            position: relative;
            top: 5%;
        }
        #Container_Content
        {
            width: 100%;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 1000px){
        .Container_Content
        {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        }
        #Landing_Image, #Intro_CTA
        {
            width: 100%;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
        #Landing_Image img
        {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        #Name
        {
            top: 5%;
            overflow:visible;
            width: 95%;
            padding-bottom: 5%;
        }
        #Name h1
        {
            font-size: 10vw;
            margin: 0;
            text-decoration: underline;
        }
        #Labels
        {
            padding-bottom: 2%;
            width: 100%;
            position: relative;
            top: 5%;
        }
        #Labels li
        {
            font-size: 5vw;
            margin-left: 2%;
            margin-right: 2%;
        }
        .Button
        {
            font-size: 6vw;
            width: 90%;
            position: relative;
            flex-direction: column;
        }
        #About_Btn
        {
            top: 0;
        }
    }
    @media screen and (min-width: 1001px) 
    {
        #Intro_CTA
        {   
            height: 100vh;
            max-width: 100%;
        }      
        #Name
        {
            position: relative;
            top: 0;
        }
        #Connect_Btn
        {
            position: relative;
            top: -2%;
        }
        #About_Btn
        {
            position: relative;
            top: -10%;
        }
        .Copyright p
        {
            display: inline-block;
            padding: 0;
            margin: 0;
            position: relative; 
            top: 50px;
        }
    }
/*Landing Page End*/
/*Contact Page Start*/
.Container_Card 
{
    display: block;
    width: 70vw;
    height: 70vh;
    background-color: rgba(179, 173, 169, 1);
    text-align: center;
    margin: auto;
    position: relative;
    top: 5vh;
    border-radius: 41px;
}

#Contact_Page
{
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    vertical-align: baseline;
}
#Contact_Headshot
{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 100%;
    overflow: hidden;
    object-fit: contain;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    top: -10vh;
    box-shadow: 0.5vw 1vh;
}
.Contact_Redirect
{
    display: inline-block;
    color: rgba(66, 119, 173, 1);
    font-family: 'Kurale';
    font-size: 55px;
    
    cursor: pointer;
    text-decoration: none;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    text-decoration: underline transparent;

}
.Contact_Redirect:hover
{
    text-decoration: underline;
    color: rgba(66, 119, 173, 1);
    -webkit-transition-duration: 1s linear;
    transition-duration: 1s linear;
}
#Contact_About
{
    position: relative;
    float: left;
    width: 35%;
    top: -35vh;
}
#Contact_Payment
{
    position: relative;
    float: right;
    width: 35%;
    top: -35vh;
}
#Social
{
    display: inline-block;
    position: relative;
    top: -100px;
}
#Social li
{
    float: left;
    padding: 2vw;
    list-style: none;
    
}
.Icons img
{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
}
.Icons img:hover
{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.4);
}
.Resized
{
    width: 7vw;
    height: auto;
    min-width: 100px;
}

/*Contact Page End*/