/*Landing Page Start*/
    #Landing_Image, #Intro_CTA
    {
        flex: 1;
        margin: 0;
        padding: 0;
    }
    /*Left Side*/
    #Landing_Image
    {
        width: 50%;
        float: left;
        height: 100%;
        overflow: hidden;
        
    }
    #Landing_Image img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    /*Right Side*/
    .Container_Content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        top: 0%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        flex-wrap: wrap;
        align-content: center;
    }
    #Intro_CTA
    {
        
        width: 50%;
        height: auto;
        float: right;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
    }
    body, html
    {   
        margin: 0;
        padding: 0;
        background-color: rgb(247, 247, 229);
        overflow: auto;
        height: 100%;
    }
    html
    {
        font-size: 100%;
        -webkit-text-size-adjust: 100%;
    }
    a
    {
        text-decoration: none;
    }
    #Name
    {
        padding-top: 0px;
        top: 15%;
        overflow: visible   ;
    }
    #Name h1
    {
        margin: auto;
        padding-top: 10%;
        font-size: 80px;
        font-family: 'Raleway';
        font-weight:bolder;
        border: 2px solid black 0 ;
    }
    #Labels
    {
        width: 90%;
        height: 25%;
        overflow: visible;
        border: 2px solid black 0;
        padding: 0px 10px 0px 10px;
    }
    #Labels li 
    {
        margin: 5px 0;
        font-size: 30px;
        font-family: 'Raleway';
        font-style: italic;
    }
    #Labels ul
    {
        list-style-position: inside;
        display: inline-block;
        text-align: center;
        padding: 0px;
    }
    .Copyright p
    {
        font-size: 16px;
        position: relative;
        padding-bottom: 10px;
        display: inline-block;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid black 0;
        text-align: center;
    }

    /*Buttons*/
    .Button
    {
        max-width: 25vw;
        height: 
        font-family: 'kurale';
        font-size: 34px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 65px;
        text-decoration: none;
        color: black;
        background-color: rgba(180, 208, 199, 1);
        cursor: pointer;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: transform;
        transition-property: transform;
        display: inline-block;
    }
    .Button:hover
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        background-color: rgba(79, 195, 137, 1);
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }
    
/*Landing Page End*/
/*Contact Page Start*/
.Container_Card 
{
    display: block;
    flex-direction: column;
    align-items: center;
    max-width: 70vw;
    min-height: 70vh;
    background-color: rgba(179, 173, 169, 1);
    border: 5px solid black;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5vh;
    border-radius: 41px;
    padding: 20px;
}

#Contact_Page
{
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    vertical-align: baseline;
}
#Contact_Headshot
{
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    z-index: 1;
    top: -10%;
    box-shadow: 0.5vw 1vh;
}
#contact_Headshot img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Contact_Redirect
{
    display: inline-block;
    color: rgba(66, 119, 173, 1);
    font-family: 'Kurale';
    font-size: 55px;
    
    cursor: pointer;
    text-decoration: none;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    text-decoration: underline transparent;

    display: flex;
    justify-content: center;
    position: relative;
}
.Contact_Redirect:hover
{
    text-decoration: underline;
    color: rgba(66, 119, 173, 1);
    -webkit-transition-duration: 1s linear;
    transition-duration: 1s linear;
}
.Contact_Redirect_Container 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 20px;
}
#Contact_About
{
    position: absolute;
    left: 5%;
    top: -10%;
    transform: translateY(-50%);
}
#Contact_Payment
{
    position: absolute;
    right: 5%;
    top: -10%;
    transform: translateY(-50%);
}
#Social
{
    display: inline-block;
    position: relative;
    top: 0%;
}
#Social li
{
    float: left;
    padding: 2vw;
    list-style: none;
    
}
.Icons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow: visible;
}
.Icons img
{
    width: 7vw;
    height: auto;
    min-width: 100px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    overflow: hidden;
    --icon-scale: 1;
}
.Icons img:hover
{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.4);
}
.Resized
{
    width: 7vw;
    height: auto;
    min-width: 100px;
}

/*Contact Page End*/

/*Payment Page Start*/

#Back_Bar
{
    display: inline-block;
    position: absolute;
    top: 0px;
    margin: 15px;
    text-decoration: none;
}
#Back_Bar h1
{
    font-size: 5vw;
    width: 7vw;
    max-width: 200px;
    height: 7vh;
    max-height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid black 0;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(126, 159, 193, 1);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
}
.Pay_Option
{
    width: auto;
    height: 15vh;
    border: 1px solid black 0 ;
    border-radius: 29px ;
    background-color: rgba(180, 208, 199, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 10vw 15px 10vw;
    object-fit: cover;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.Pay_Option:hover
{
    background-color: rgba(62, 206, 160, 1);
    cursor: pointer;
}
.Pay_Option img
{
    width:40vw;
    height: 18vh;
    overflow: hidden;
    object-fit: contain;
    display: inline-block;
}
#Payment_Redirects 
{
    padding: 0;
    margin: 0;
    position: relative;
    top: 7%;
}
#Payment_Redirects  ul
{
    padding: 0;
}
#Payment_Redirects li
{
    list-style: none;
    overflow: hidden;
}
#Copyright_Payment 
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/*Payment Page End*/

/*About Page Start*/

#Opening_Screen
{
    background-image: url(Assets/16x9\ photo.avif);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-decoration: underline;
    color: white;
}
#Opening_Screen h1
{
    font-family: 'Raleway';
    font-size: 5vw;
    display: inline-block;
    margin: 5%
    
}
#Snapshot_Content
{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
#Full_Body
{
    max-width: 20vw;
    height: auto;
    overflow: visible;
    margin: 3%;
    display: block;
    object-fit: cover;
    box-shadow: -2vw 3vh rgba(145, 138, 132, 1);
}
#Full_Body img
{
    
    object-fit: contain;
    background-position: center;
    display: inline-block;
    max-width: 100%;
    min-height: 101%;
   
}
#Introduction
{
    margin: 3%;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 1.7vw;
}
#Relevant_Content
{
    background-color: rgba(214, 210, 207, 1);
}
.Headline 
{
    display:block;
    text-align: center;
    font-family: 'Kurale';
    padding: 3%;
    font-size: 2.5vw;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.07em;
}
.Headline h2
{
    margin: 0;
}
#Education
{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
#CSUS
{
    max-width: 20vw;
    height: auto;
    overflow: visible;
    margin: 3%;
    display: block;
    object-fit: cover;
    box-shadow: 2vw 3vh rgba(145, 138, 132, 1);
}
#CSUS img
{
    object-fit: contain;
    background-position: center;
    display: inline-block;
    max-width: 100%;
    min-height: 105%;
}
#Education_Description
{
    margin: 3%;
    font-family: 'Raleway';
    font-size: 1.5vw;
    display: table;
    justify-content: center;
}
#Education_Description p
{
    margin: 0;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
#Work
{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Raleway';
    font-size: 1.5vw;

}
#Projects
{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
}
.Activity_Cards
{
    background-color: rgba(68, 68, 68, 1);
    border-radius: 20px;
    color: white;
    display: block;
    text-align: center;
    justify-content: center;
    max-width: 30%;
    height: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.Activity_Cards:hover
{
    background-color: rgb(247, 247, 229);
    color: black;
    -webkit-transition-duration: background-color linear;
    transition-duration: background-color linear;
}
.Activity_Cards h3, p
{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Raleway';
    font-size: 1.5vw;
}
.Footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
    padding-top: 1%;
}
/*About Page End*/